body {
    margin: 0;
    padding: 0;
    background: #0d0d0d;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 90%;
    max-width: 360px;
    background: #1a1a1a;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.display {
    width: 95%;
    height: 70px;
    background: #000;
    color: #0ff;
    font-size: 32px;
    text-align: right;
    padding: 15px;
    margin-left: -1.5%;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow-x: auto;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    padding: 20px;
    font-size: 19px;
    border: none;
    border-radius: 12px;
    background: #262626;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:active {
    transform: scale(0.9);
}

.operator {
    background: #0a84ff;
}

.equal {
    background: #00c853;
}

@media (max-width: 480px) {
    .display {
        font-size: 26px;
        height: 60px;
    }

    button {
        padding: 16px;
        font-size: 16px;
    }
}
